:root {
    /* Typography */
    /* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1360,18,1.2,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    
    /* Step -2: 14.2222px → 12.5px */
    --step--2: clamp(0.7813rem, 0.922rem + -0.1656vw, 0.8889rem);
    /* Step -1: 16px → 15px */
    --step--1: clamp(0.9375rem, 1.0192rem + -0.0962vw, 1rem);
    /* Step 0: 18px → 18px */
    --step-0: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    /* Step 1: 20.25px → 21.6px */
    --step-1: clamp(1.2656rem, 1.2397rem + 0.1298vw, 1.35rem);
    /* Step 2: 22.7813px → 25.92px */
    --step-2: clamp(1.4238rem, 1.3635rem + 0.3018vw, 1.62rem);
    /* Step 3: 25.6289px → 31.104px */
    --step-3: clamp(1.6018rem, 1.4965rem + 0.5265vw, 1.944rem);
    /* Step 4: 28.8325px → 37.3248px */
    --step-4: clamp(1.802rem, 1.6387rem + 0.8166vw, 2.3328rem);
    /* Step 5: 32.4366px → 44.7898px */
    --step-5: clamp(2.0273rem, 1.7897rem + 1.1878vw, 2.7994rem);
    /* Step 6: 36.4912px → 53.7477px */
    --step-6: clamp(2.2807rem, 1.9488rem + 1.6593vw, 3.3592rem);

    /* Spacing */

    /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 9px → 9px */
  --space-2xs: clamp(0.5625rem, 0.5625rem + 0vw, 0.5625rem);
  /* Space xs: 14px → 14px */
  --space-xs: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  /* Space s: 18px → 18px */
  --space-s: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  /* Space m: 27px → 27px */
  --space-m: clamp(1.6875rem, 1.6875rem + 0vw, 1.6875rem);
  /* Space l: 36px → 36px */
  --space-l: clamp(2.25rem, 2.25rem + 0vw, 2.25rem);
  /* Space xl: 54px → 54px */
  --space-xl: clamp(3.375rem, 3.375rem + 0vw, 3.375rem);
  /* Space 2xl: 72px → 72px */
  --space-2xl: clamp(4.5rem, 4.5rem + 0vw, 4.5rem);
  /* Space 3xl: 108px → 108px */
  --space-3xl: clamp(6.75rem, 6.75rem + 0vw, 6.75rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 9px */
  --space-3xs-2xs: clamp(0.3125rem, 0.2292rem + 0.4167vw, 0.5625rem);
  /* Space 2xs-xs: 9px → 14px */
  --space-2xs-xs: clamp(0.5625rem, 0.4583rem + 0.5208vw, 0.875rem);
  /* Space xs-s: 14px → 18px */
  --space-xs-s: clamp(0.875rem, 0.7917rem + 0.4167vw, 1.125rem);
  /* Space s-m: 18px → 27px */
  --space-s-m: clamp(1.125rem, 0.9375rem + 0.9375vw, 1.6875rem);
  /* Space m-l: 27px → 36px */
  --space-m-l: clamp(1.6875rem, 1.5rem + 0.9375vw, 2.25rem);
  /* Space l-xl: 36px → 54px */
  --space-l-xl: clamp(2.25rem, 1.875rem + 1.875vw, 3.375rem);
  /* Space xl-2xl: 54px → 72px */
  --space-xl-2xl: clamp(3.375rem, 3rem + 1.875vw, 4.5rem);
  /* Space 2xl-3xl: 72px → 108px */
  --space-2xl-3xl: clamp(4.5rem, 3.75rem + 3.75vw, 6.75rem);

  /* Custom pairs */
  /* Space s-l: 18px → 36px */
  --space-s-l: clamp(1.125rem, 0.75rem + 1.875vw, 2.25rem);

    /* Color */
    --color-light: #ffffff;
    --color-light-shade: #F5F5F5;
    --color-dark: #062726;
    --color-primary: #d81159;
    --color-primary-shade: #b90f4c;
    --color-primary-shade-green: #0A6643;
}

body {
    background: var(--color-light-shade);
    color: var(--color-dark);
    font-size: var(--step-1);
    line-height: 1.6;
    font-family: var(--font-base);
    font-weight: 400;
    font-size-adjust: from-font;
    margin: 0;
}

.site-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    gap: 1.5rem;
}

.site-banner a,
.recipe-grid a {
    text-decoration: none;
}

.site-banner a:hover {
    text-decoration: underline 2px solid currentColor;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

footer nav ul {
    justify-content: end;
}

.top-nav-close {
    display: block;
    margin-inline-start: auto;
}

.top-nav-close img,
.top-nav-open img {
    max-height: 50px;
}

.top-nav-open[aria-expanded="true"] + .top-menu-container {
    translate: 0;
}

@media (prefers-reduced-motion) {
    .top-nav-open[aria-expanded="true"] + .top-menu-container {
        opacity: 1;
    }
}

body:has(.top-nav-open[aria-expanded="true"]) {
    overflow: hidden;
}

@media(width < 40em) {
    .top-menu-container {
        background-color: #F5F5F5;
        color: var(--color-dark);
        position: fixed;
        inset: 0;
        padding: 1.5rem;
        translate: 100vw 0;
        transition: translate 0.5s ease-in-out;
    }
    .nav-primary ul {
        flex-direction: column;
    }
}

@media(width >= 40rem) {
    .nav-primary button {
        display: none;
    }
}

@media(width < 40rem) and (prefers-reduced-motion) {
    .top-menu-container {
        translate: 0;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }
}

:is(h1, h2) {
    font-weight: 700;
    max-width: 38ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    margin-top: var(--space-l);
    margin-bottom: var(--space-s);
    line-height: 1.2;
}

h1 {
    font-size: var(--step-5);
    margin-top: var(--space-xl);
    margin-bottom: var(--space-m);
}

@media (width < 40rem) {
    h1 {
        margin-top: var(--space-l);
        margin-bottom: var(--space-m);    
    }
    :is(h2, h3, h4, h5, h6) {
        margin-top: var(--space-m);
        margin-bottom: var(--space-s);    
    }
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
}

.recipe-grid h3 {
    font-size: var(--step-1);
    font-weight: 700;
}

p {
    margin-top: 0;
    margin-bottom: var(--space-s);
    line-height: 1.6;
}

.site-head__brand {
    font-size: var(--step-5);
    font-weight: 700;
    font-family: var(--font-heading);
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

a {
    color: currentColor;
}

.fp-recipe-headline {
    text-decoration: none;
}

section,
article,
aside {
  margin-bottom: var(--space-s);
}

article > * + * {
  margin-top: var(--space-s); /* spacing between elements inside */
}


:focus {
    outline: 2px dotted currentColor;
    outline-offset: 0.2rem;
}

:is(p, li, dl) {
    max-width: 70ch;
}

/* Comment Form */
#commentform textarea,
#commentform input  {
    border: 2px solid var(--color-dark);
    display: flex;
    flex-wrap: wrap;
}

#commentform #comment,
#commentform #author,
#commentform #email,
#commentform #url {
    width: 100%;
    max-width: 40.6rem;
    padding-left: .2em;
    padding-right: .2em;
}

.form-submit .btn {
    padding-left: .2em;
    padding-right: .2em;
    background-color: #c5c3c3;
}

#commentform .submit:focus {
    outline: 2px dotted var(--color-dark);
}

.comment-form-cookies-consent {
    display: flex;
    align-items: center;
    gap: .8rem;
}
  
/* focus for star rating in recipe comments */
input[name="wprm-comment-rating"]:focus-visible + span svg {
outline: 2px dotted currentColor;
outline-offset: 2px;
}

/* Lite YouTube Focus */
lite-youtube:focus, 
lite-youtube:focus-within {
  outline: 2px dotted currentColor;
  outline-offset: 2px;
}