.wrapper {
    margin-inline: auto;
    max-width: var(--wrapper-max-width, 1360px);
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    position: relative;
}

.skip-link {
    display: inline-block;
    padding: .7rem 1rem .5rem 1rem;
    background: var(--color-light);
    color: var(--color-primary-shade);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.skip-link:hover {
    background: var(--color-dark);
    color: var(--color-light-shade);
}

.skip-link:not(:focus) {
    border: 0;
    clip-path: inset(0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.hide-on-home {
    display: none;
}
